/* Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Default Setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Bg: hsl(212, 45%, 89%);
    --White: hsl(0, 0%, 100%);
}

html {
    font-size: 16px;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Bg);
}

/* Card */

.card {
    background-color: var(--White);
    height: 60vh;
    width: 20vw;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Qr{
    height:35vh;
    width:18vw;
    background:url(Resources/images/image-qr-code.png);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin: 0.2rem 0;
    position: relative;
    bottom:auto;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.Qr:hover{
    filter: saturate(0.6);
}

.Qr-content h2{
    font-family: "Outfit",Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    padding:1em 0 0 0;
    color: hsl(218, 44%, 22%);
    user-select: none;
}

p{
    font-family: "Outfit",Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    padding:1em;
    text-align: center;
    color: hsl(216, 15%, 48%);
    user-select: none;
}